html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: "Roboto", sans-serif;
    line-height: 1.3;
    margin: 0;
    padding: 0;
    background-color: indianred;
    color: #fff;

    @include breakpoint(large-screens) {
        background-color: yellowgreen;
    }
    @include breakpoint(desktop) {
        background-color: springgreen;
    }
    @include breakpoint(tablet) {
        background-color: blue;
    }
    @include breakpoint(mobile) {
        background-color: green;
    }

}