@mixin flexCHV {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin displayHide {
    display: none;
}

/* ----------------- Media queris
----------------------------------------------------------------------- */

@mixin breakpoint ($point) {
    @if $point == 'mobile' {
        @media only screen and (min-width: 320px) and (max-width : 480px) { @content; }
    }

    @else if $point == 'tablet' {
        @media only screen and (min-width: 481px) and (max-width : 768px) { @content; }
    }

    @else if $point == 'desktop' {
        @media only screen and (min-width: 769px) and (max-width : 1024px) { @content; }
    }

    @else if $point == 'large-screens' {
        @media only screen and (min-width: 1025px) and (max-width : 1366px) { @content; }
    }

    @else if $point == 'large' {
        @media only screen and (min-width: 1367px) { @content; }
    }

    @else {
        @media only screen and (min-width: $point) { @content; }
    }
}