@mixin flexCHV {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin displayHide {
    display: none;
}

/* ----------------- Media queris
----------------------------------------------------------------------- */

@mixin breakpoint ($point) {
    @if $point == 'mobile' {
        @media only screen and (min-width: 120px) and (max-width : 767px) { @content; }
    }

    @else if $point == 'tablet' {
        @media only screen and (min-width: 768px) and (max-width : 1399px) { @content; }
    }

    @else if $point == 'desktop' {
        @media only screen and (min-width: 1400px) { @content; }
    }

    @else {
        @media only screen and (min-width: $point) { @content; }
    }
}